@import 'variables';

ActionBar {
    background-color: $pineAppleClassColor;
    color: $white;
}

.image-container {
    height: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 150px;
}

.group-action-button {
    background-color: $pineAppleClassColor;
    color: $white;
    margin-left: 11px;
    margin-right: 11px;
}