<ActionBar title="Kennwort">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
</ActionBar>
<ScrollView>
    <StackLayout class="main-container">
        <Image class="logo" src="res://pineapple_logo" horizontalAlignment="center"></Image>
        <Label class="password-description" text="Kennwort für '{{username}}'"></Label>
        <TextField class="password-input" hint="Kennwort" secure="true" [(ngModel)]="password"></TextField>
        <Button class="password-button-submit" text="Anmelden" (tap)="onSubmit()"></Button>
    </StackLayout>
</ScrollView>
<app-busy-indicator [isBusy]="routerService.isBusy"></app-busy-indicator>
