// Colors
$white: #FFF;
$black: #000;

$pineAppleBackgroundColor: #FEFBED;
$pineAppleColor: #66605F;
$pineAppleGreenColor: #61B945;
$pineAppleDashboardActionBarColor: #C6C6C6;
$pineAppleSubNavColor: #868686;

// Modules
$pineAppleClassColor: #985296;
$pineAppleEventColor: #00A9EB;
$pineAppleEventBackgroundColor: #EDF8FD;
$pineAppleAbsenceColor: #F6C800;
$pineAppleMessageColor: $pineAppleGreenColor;
$pineAppleMessageBackgroundColor: #F4FAF1;
$pineAppleChildColor: #DE081F;
$pineAppleTimeTableColor: $pineAppleClassColor;
$pineAppleUndefined1Color: #005991;
$pineAppleUndefined2Color: #9C6444;

// Font families
$fontNoToSans: 'Noto Sans', sans-serif;
$fontSchoolbell: 'Schoolbell', cursive;

$warnColor: #DF0926;
$submitColor: $pineAppleChildColor;