@import 'variables';

* {
    background-color: $pineAppleBackgroundColor;
    color: $pineAppleColor;
    font: {
        color: $pineAppleColor;
        family: $fontNoToSans;
        size: 16px;
    };
}

ActionBar {
    background-color: $pineAppleGreenColor;
    color: $white;
}

Button {
    text-transform: capitalize;
}